
node_modules/
dist/
src-tauri/target/
src-tauri/gen/schemas/
src-tauri/gen/android/.gradle/
src-tauri/gen/android/.idea/
src-tauri/gen/android/local.properties
src-tauri/gen/android/**/build/
src-tauri/gen/apple/build/
src-tauri/gen/apple/Pods/
src-tauri/gen/apple/**/*.xcuserstate
src-tauri/gen/apple/**/xcuserdata/
*.keystore
*.jks
*.p12
*.mobileprovision
qa/
